:root {
  /* Colors — Primary */
  --color-primary: #0b1012;

  /* Colors — Neutrals */
  --color-neutral-50: #212325;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #000000;
  --color-neutral-300: #f3f0ec;

  /* Colors — Backgrounds */
  --color-bg: #f3f0ec;
  --color-bg-1: #212325;
  --color-bg-2: #0b1012;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #212325;
  --color-text-2: #ffffff;

  /* Typography — Families */
  --font-sans: 'Aeonik Pro', sans-serif;
  --font-mono: 'Aeonik Mono', sans-serif;
  --font-body: 'Times New Roman', sans-serif;

  /* Typography — Scale */
  --font-size-51.2: 51.2px;
  --font-size-32: 32px;
  --font-size-25.6: 25.6px;
  --font-size-19.2: 19.2px;
  --font-size-16: 16px;
  --font-size-14.4: 14.4px;
  --font-size-12.8: 12.8px;
  --font-size-11.2: 11.2px;
  --font-size-9.6: 9.6px;
  --font-size-8: 8px;

  /* Spacing */
  --spacing-2: 2px;
  --spacing-24: 24px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-72: 72px;
  --spacing-96: 96px;
  --spacing-120: 120px;
  --spacing-128: 128px;
  --spacing-133: 133px;
  --spacing-144: 144px;
  --spacing-262: 262px;
  --spacing-360: 360px;
  --spacing-367: 367px;

  /* Border Radius */
  --radius-lg: 16px;

  /* Original Site Variables */
  /* — colors — */
  --color-black: #0b1012;
  --color-white: #fff;
  --color-cream: #f3f0ec;
  --color-taupe: #d4cec6;
  --color-grey: #212325;
  /* — spacing — */
  --size: 1600;
  /* — typography — */
  --font-s: calc((100vw/var(--size))*10);
  --font-f-aeonik-mono: "Aeonik Mono";
  --font-f-aeonik-pro: "Aeonik Pro";
  /* — other — */
  --ease-in-out-quart: cubic-bezier(.77,0,.175,1);
  --ease-in-out-cubic: cubic-bezier(.645,.045,.355,1);
  --ease-in-out-quad: cubic-bezier(.455,.03,.515,.955);
  --ease-out-quart: cubic-bezier(.165,.84,.44,1);
  --ease-out-cubic: cubic-bezier(.215,.61,.355,1);
  --ease-out-quad: cubic-bezier(.25,.46,.45,.94);
  --ease-none: cubic-bezier(.25,.25,.75,.75);
  --vh: 8px;
  /* — dependencies — */
  --font-s: --size;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}